@import "flex-grid.css";
body{
  font-family: 'Source Code Pro',Arial,sans-serif;
  background-color: black;
  color: white;
}
header  {
  display: inline-block;
  justify-content: space-between;
  position: fixed;
  top:  0px;
  left: 0px;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 6;
}
.logo {
width: 100%;
  height: auto;
  object-fit: scale-down;
}
nav {
  justify-content: flex-end ;
  align-items: center;
}
.nav_bloc a{
  text-decoration: none;
  margin-left: 1rem;
  font-size: 18px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}
.nav_bloc a:hover{
  opacity: inherit;
  background: #0078BF ;
  color: #fff;
}
first_content{
  height: 550px;
  width: auto;
  display: block;
  position: relative;
}
.first_content{
  content: "";
  background: url('brain.png');
  opacity: 0.4;
  top: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: flex-end;

}
.scroll{
  height: 2000px;
}
.test{
  width: 100%;
  height: 10000px;
}
.row_center {
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: flex-end
}
.row_center h1{
  width: auto;
  text-align: center;
  margin-bottom: 0;
}
.row_center p{
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
}

.arrow {
  width: 60px;
  height: 60px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  margin-right: 60px;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.arrow-bottom {
  transform: rotate(135deg);
text-align: center}
.arroww{
position: relative;
  bottom: 3rem;
}
.circle{
  -webkit-animation: anim 2s infinite;
  animation: anim 2s infinite;
}
@-webkit-keyframes anim {
  0% { top: 0; left: 50%; }
  50% { top: 10px;  left: 50%;}
  100% { top: 0;  left: 50%;}
}
@keyframes anim {
  0% { top: 0; left: 50%; }
  50% { top: 10px;  left: 50%;}
  100% { top: 0;  left: 50%;}
}
h1{
  font-size: 68px;
  font-weight: 600;
  text-align: center;
}
.padding_h1{
padding-top: 6rem;
}
.cursBox{
  width: auto;
  justify-content: space-around;
}
.cursCard{
  background-color: white;
  border-radius: 2rem;
  margin: 0 2rem;
  width: 25rem;
}
.cursCard img{
  margin:45px 0;
  width: 100%;
  height: auto;
}
.cursCard .cursCardInfo{
  padding: 0 30px 30px 30px;
  color: black;
}
.cursCardInfo a{
  text-decoration: none;
  border: 1px solid black;
  border-radius: .5rem;
  padding: .4rem;
  font-family: 'Source Code Pro',Arial,sans-serif;
  font-weight: 700;
  font-size: 14pt;
}
.zapBlack{
 background-color: white;
  margin-left: 1rem;
  color: black;
}
.podrobW{
  background-color: black;
  color: white;
}
.Our_advantages{
  margin-top: 5rem;
}
.info_image{
  display: inline-block;
  width: 2rem;
  height: auto;
}
.Our_advantages h1{
  font-size: 38px;
}
.Our_advantages h3{
  color: rgb(18, 120, 188);
  display: inline-block;
}
.Our_advantages p{
  color: #97b0cb;
}
.reviews{
  margin-top: 8rem;
  padding-top: 8rem ;
  background-image: url("https://static.tildacdn.com/lib/unsplash/5fc9de8c-b5e3-7e27-5ca0-82e0bb3cf629/photo.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 811px;
  width: 100%;
}
.reviews h1{
  display: inline-block;
  font-size: 52px;
}

main{
  padding: 0 4rem;
}
.reviews .cursCard{
  display: inline-block;
  margin: 0;
}
.reviews .row {
  justify-content: center;
  text-align: center;
}
.form_reviews h4{
  color: black;
  text-align: left;
  font-size: 18px;
  font-family: 'Source Code Pro',Arial,sans-serif;
}
.buttonse{
  width: 100%;
}
.buttonse1{
  border-radius: 1rem;
  height: 3.4rem;
  width: 84%;
  font-weight: bold;
}
.card_feedback{
  text-align: center;
  margin: 3rem 6rem;
}
.card_feedback .feedback_text{
  color: #97b0cb;
  font-size: 22px;
  font-family: 'Source Code Pro';
  margin: 0;
}
.card_feedback .feedback_fio,.feedback_post{
  color: #1278bc;
  font-size: 16px;
  font-family: 'Source Code Pro';
  margin: 0;
}
.card_feedback .feedback_company{
  font-size: 12px;
  font-family: 'Source Code Pro',Arial,sans-serif;
  font-weight: 300;
  margin: 0;
  color: #97b0cb;
}
.info_video{
  margin: 0 5rem;
}
footer{
  text-align: center;
  background-color: #ffffff;
  font-family: 'Source Code Pro';
  color: #000000;
}
.info p{
  margin: 0;
}
footer .container{
  width: 100%;
  height: 100%;
  position: relative;
}
footer .box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
footer .box .bloc_info{
  width: 40%;
  height: 90%;
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: #ffffff;
}
.t651__btn_animate{
  animation: t651__btn-animate 2s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: t651__btn-animate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}
.t651__btn_wrapper{
  text-align: center;
  position: relative;
  background: transparent;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
}
.t651__btn_wrapper svg{
  margin-top: 1rem;
}
@keyframes t651__btn-animate{
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  25% {
    -webkit-transform: rotate(10deg) scale(1.1);
    transform: rotate(10deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  70% {
    -webkit-transform: rotate(-10deg) scale(1.1);
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

}

.call_we{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.sedow{
  box-shadow: inset 0 0 6px rgba(122,122,122,0.5);
}
.tell_form{
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  max-width: 23rem;
  z-index: 9;
}
.tell_form .form-control{
  display: inline-block;
}
.tell_form_h3{
  margin: 2rem 0;
  line-height: 1.35;
  text-align: center;
  font-family: 'Source Code Pro',Arial,sans-serif;
  font-weight: 600;
  color: #000;
}
.dell_form button{
  font-size: 14pt;
  text-transform: uppercase;
}
.dell_form p{
  margin: 2rem 0;
  font-size: 14pt;
  color: #446589;
}